@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "BlackMango";
  src: url("/fonts/BlackMango-Regular.ttf") format("truetype"),
    url("/fonts/BlackMango-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "BlackMango";
  src: url("/fonts/BlackMango-Bold.ttf") format("truetype"),
    url("/fonts/BlackMango-Bold.otf") format("opentype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background-image: url("/images/4965007.jpg"); */
  background-color: #f0b095;
  font-family: Poppins, sans-serif;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-family: "BlackMango", sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
}

.title {
  font-family: "BlackMango", sans-serif;
  font-weight: bold;
}

button {
  width: 200px;
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid;
  border-radius: 15px;
  margin: 4em;
  font-family: Poppins, sans-serif;
}

button:hover {
  background-color: #ffffff;
}

.input-box {
  height: 100px;
  width: 400px;
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-family: Poppins, sans-serif;
  overflow-wrap: break-word;
}

.card {
  display: flex;
  border: 1px solid;
  margin: 2em;
  width: 200px;
  height: 400px;
  border-radius: 15px;
  background-color: #92d4c7;
  background-image: url("/images/moon.png");
  background-size: contain;
}

.inner-border {
  border: 1px solid;
  margin-left: 10px;
  margin-top: 10px;
  width: 180px;
  height: 380px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

#tarot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid;
  margin: 2em;
  width: 420px;
  height: 840px;
  border-radius: 15px;
  padding: 1em;
  background-color: white;
  font-family: Poppins, sans-serif;
}

#tarot img {
  border-radius: 10px;
  display: flex;
  margin-bottom: 2em;
}
