@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "BlackMango";
  src: url("/fonts/BlackMango-Regular.ttf") format("truetype"),
    url("/fonts/BlackMango-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "BlackMango";
  src: url("/fonts/BlackMango-Bold.ttf") format("truetype"),
    url("/fonts/BlackMango-Bold.otf") format("opentype");
  font-weight: bold;
}

:root {
  --gradient: linear-gradient(
    45deg,
    #ff7307,
    #fd77af,
    #ea7986,
    #e5cbc1,
    #da84cd,
    #d9d9d9
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f0b095;
  font-family: Poppins, sans-serif;
  background-size: 400%;
  background-image: radial-gradient(circle at 20% 20%, #f0b095, transparent 50%),
    radial-gradient(circle at 80% 40%, #fd77af, transparent 50%),
    radial-gradient(circle at 30% 70%, #e5cbc1, transparent 50%),
    radial-gradient(circle at 60% 90%, #d9d9d9, transparent 50%);
  background-size: 200% 200%;
  animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#welcome {
  display: flex;
}

#right-sparkle {
  margin-top: 8em;
}

h1 {
  font-family: "BlackMango", sans-serif;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-family: Poppins, sans-serif;
}

.title {
  font-family: "BlackMango", sans-serif;
  font-weight: bold;
}

button {
  font-family: Poppins, sans-serif;
  width: 200px;
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid;
  border-radius: 25px;
  margin: 2em;
}

button:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.input-box {
  font-family: Poppins, sans-serif;
  height: 80px;
  width: 90%;
  padding: 0.5em;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  overflow-wrap: break-word;
}

.card {
  display: flex;
  margin: 2em;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  background-color: #c0a4da;
  background-image: url("/images/tarot.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.2));
  cursor: pointer;
}

.inner-border {
  border: 1px solid white;
  margin-left: 10px;
  margin-top: 10px;
  width: 230px;
  height: 330px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.tarot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
  width: 375px;
  height: 525px;
  border-radius: 15px;
  padding: 1em;
  background-color: white;
  font-family: Poppins, sans-serif;
}

.tarot img {
  display: flex;
  border-radius: 10px;
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin: 0.5em;
}

.round-button:hover {
  background-color: white;
  cursor: pointer;
}

.back {
  background-color: #c0a4da;
  background-image: url("/images/tarot-big.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tarot-inner-border {
  border: 1px solid white;
  width: 345px;
  height: 510px;
  border-radius: 10px;
}

#cards-page {
  background-image: linear-gradient(#d4cfff, #ebebeb);
}

#reading-page {
  background-image: linear-gradient(#ffc7d9, #ebebeb);
}

#intention-page {
  background-color: #f0b095;
}

.navbar {
  font-family: Poppins, sans-serif;
  position: fixed;
  left: 2em;
  top: 1em;
  width: 100%;
  background: none;
  color: white;
}

.navbar span:hover {
  cursor: pointer;
}

footer {
  font-family: Poppins, sans-serif;
  position: fixed;
  left: 0;
  bottom: 1em;
  width: 100%;
  background: none;
  color: white;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .tarot {
    width: 85%;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
}
